<div>
  <h1 class="title">Todos</h1>
  <h1 class="email">{{ userEmail }}</h1>
  <section class="todoapp">
    <div *ngIf="loading; else loaded">
      <h1 class="loading">Loading...</h1>
    </div>
    <ng-template #loaded>
      <header class="header">
        <input
          class="new-todo"
          autofocus
          autocomplete="off"
          placeholder="{{ this.inputPlaceholder }}"
          [(ngModel)]="newTodo"
          (keyup.enter)="addTodo()"
        />
      </header>
      <section class="main" [hidden]="todos.length === 0">
        <input class="toggle-all" type="checkbox" [(ngModel)]="allDone"/>
        <ul class="todo-list">
          <li
            class="todo"
            *ngFor="let todo of filteredTodos; trackBy: trackByTodoId"
            [class]="{ completed: todo.completed, editing: todo == editedTodo }"
          >
            <div class="view">
              <input
                class="toggle"
                type="checkbox"
                [(ngModel)]="todo.completed"
                (change)="completeTodo(todo)"
              />
              <label (dblclick)="editTodo(todo)">{{ todo.title }}</label>
              <button class="destroy" (click)="removeTodo(todo)"></button>
            </div>
            <input
              class="edit"
              type="text"
              [(ngModel)]="todo.title"
              (blur)="doneEdit(todo)"
              (keyup.enter)="doneEdit(todo)"
              (keyup.esc)="cancelEdit(todo)"
            />
          </li>
        </ul>
      </section>
      <footer class="footer" [hidden]="todos.length === 0">
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
        </span>
        <ul class="filters">
          <li>
            <a
              href="#/all"
              (click)="setVisibility('all')"
              [class]="{ selected: visibility == 'all' }"
              >All</a
            >
          </li>
          <li>
            <a
              href="#/active"
              (click)="setVisibility('active')"
              [class]="{ selected: visibility == 'active' }"
              >Active</a
            >
          </li>
          <li>
            <a
              href="#/completed"
              (click)="setVisibility('completed')"
              [class]="{ selected: visibility == 'completed' }"
              >Completed</a
            >
          </li>
        </ul>
        <button
          class="clear-completed"
          (click)="removeCompleted()"
          [hidden]="todos.length <= remaining"
        >
          Clear completed
        </button>
      </footer>
    </ng-template>
  </section>
  <div *ngIf="error" class="error" (click)="handleErrorClick()">
    ERROR: {{ this.error }}
  </div>
</div>
